In [1]:
# creation of DataFrame
 
import pandas as pd
import numpy as np
 
#Create a Dictionary    
d = {'Name':['Ganesh','Max','Jenee','Sandra','Emily','Liping'],
     'Years with Chevron':[20,1,3,12,14,21],
     'Number of Assignments':[5,1,2,3,5,5]}  
    
#Create a DataFrame
df = pd.DataFrame(d)
print(df)

     Name  Number of Assignments  Years with Chevron
0  Ganesh                      5                  20
1     Max                      1                   1
2   Jenee                      2                   3
3  Sandra                      3                  12
4   Emily                      5                  14
5  Liping                      5                  21

In [2]:
# summary statistics
 
print(df.describe())

       Number of Assignments  Years with Chevron
count               6.000000            6.000000
mean                3.500000           11.833333
std                 1.760682            8.376555
min                 1.000000            1.000000
25%                 2.250000            5.250000
50%                 4.000000           13.000000
75%                 5.000000           18.500000
max                 5.000000           21.000000

In [3]:
# summary statistics of character column
 
print(df.describe(include='all'))

          Name  Number of Assignments  Years with Chevron
count        6               6.000000            6.000000
unique       6                    NaN                 NaN
top     Sandra                    NaN                 NaN
freq         1                    NaN                 NaN
mean       NaN               3.500000           11.833333
std        NaN               1.760682            8.376555
min        NaN               1.000000            1.000000
25%        NaN               2.250000            5.250000
50%        NaN               4.000000           13.000000
75%        NaN               5.000000           18.500000
max        NaN               5.000000           21.000000

In [4]:
#count number of Name entries in list
len(d['Name'])

6

In [5]:
#count number of columns in d
len(d)

3

In [6]:
#add column to d
d['Number of Pets']=[2,0,0,0,1,1]

In [7]:
#count number of columns in d
len(d)

4

In [8]:
#count total number of pets our team owns
sum_pets=0
for pet in d['Number of Pets']:
    sum_pets+=pet    #  same as  sum_pets=sum_pets+pet
    
print('The total number of pets on our team is '+str(sum_pets))

#another way to write this:
print(f'The total number of pets on our team is {sum_pets}')

The total number of pets on our team is 4
The total number of pets on our team is 4